<div class="w-50 p-3 h-25 d-inline-block" style="width: 120px;">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>