{% extends 'base.html.twig' %}

{% block title %}Edit CT{% endblock %}

{% block body %}
    <h1>Points de Contôles:</h1>

    {{ include('ct/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_ct_index') }}">Contrôles Techniques</a></br>
    {{ include('ct/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('app_ct_indexTechnicien' , {'id': app.user.id})}}">Retour</a>

    
{% endblock %}
