{% extends 'base.html.twig' %}

{# {% block title %}New CT{% endblock %} #}

{% block body %}
    <h1>Nouveau Contrôle Tehnique</h1>

    {{ include('ct/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_ct_index') }}">Contrôles Techniques</a>
    {% endif %}

    <a href="{{ path('app_ct_indexTechnicien' , {'id': app.user.id})}}">Retour</a>
{% endblock %}
