{% extends 'base.html.twig' %}

{# {% block title %}New Client{% endblock %} #}

{% block body %}
    <h1>Inscription</h1>

    {{ include('client/_form.html.twig') }}

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_client_index') }}">Liste Utilisateurs</a>
    {% endif %}

    <a href="{{ path('app_home') }}">Retour</a>

    
{% endblock %}
