{% extends 'base.html.twig' %}


{% block body %}
    {# <h1>Garage</h1> #}

    {{ include('moto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_moto_index' , {'id': app.user.id}) }}">Mon Garage</a>

    {{ include('moto/_delete_form.html.twig') }}
{% endblock %}
