{% extends 'base.html.twig' %}

{% block body %}

    {{ include('moto/_form.html.twig') }}

    <a href="{{ path('app_moto_index' , {'id': app.user.id}) }}">Mon Garage</a>

    {% if is_granted ('ROLE_TECHNICIEN')%}
    <a href="{{ path('app_moto_index') }}">Motos clients</a>
    {% endif %}

{% endblock %}
